<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.mapper.MenuMapper">


    <resultMap id="selfselectAll" type="Menu">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="icon_cls" property="iconCls"/>
        <result column="parent_id" property="parentId"/>
        <result column="jsp_url" property="jspUrl"/>
        <collection property="menuList" ofType="Menu">
            <result column="bid" property="id"/>
            <result column="btitle" property="title"/>
            <result column="bicon_cls" property="iconCls"/>
            <result column="bparent_id" property="parentId"/>
            <result column="bjsp_url" property="jspUrl"/>

        </collection>
    </resultMap>

    <select id="selfselectAll" resultMap="selfselectAll">
        select t1.*,t2.id bid,t2.title btitle,t2.icon_cls bicon_cls,t2.parent_id bparent_id,t2.jsp_url bjsp_url
        from menu t1
                 LEFT JOIN menu t2
                           ON t1.id = t2.parent_id
        where t1.parent_id is null

    </select>


</mapper>